{# Template Parts #}
{% extends "Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('user_new_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'user_new_title'|trans }}</span>
    <span class="desc"></span>
    <a href="{{ path('admin_account_list') }}" class="addbtn btn-success"   ><i class="material-icons">arrow_back</i></a>

{% endblock %}

{# Content Navigation #}
{% block content_nav %}{% endblock %}

{# Content Body #}
{% block content_body %}



    <div class="content-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}

    </div>
{% endblock %}


