<!DOCTYPE html>

<title>LoyaltyCardsRequests</title>

{% block body %}
    <h1>LoyaltyCardsRequests</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loyalty_cards_request.id }}</td>
            </tr>
            <tr>
                <th>Customer_id</th>
                <td>{{ loyalty_cards_request.customerId }}</td>
            </tr>
            <tr>
                <th>Date_of_request</th>
                <td>{{ loyalty_cards_request.dateOfRequest ? loyalty_cards_request.dateOfRequest|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ loyalty_cards_request.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('loyalty_cards_requests_index') }}">back to list</a>

    <a href="{{ path('loyalty_cards_requests_edit', {'id': loyalty_cards_request.id}) }}">edit</a>

    {{ include('loyalty_cards_requests/_delete_form.html.twig') }}
{% endblock %}
