{# Template Parts #}
{% extends "Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('admin_reclamation_index'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'admin_reclamation_index'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
<!-- Action Button -->
<div id="actions">
    <div class="btn-group">
        <button class="btn btn-success" data-toggle="modal" data-target="#searchFilter" data-tooltip title="{{ 'search_filter'|trans }}"><i class="material-icons">search</i></button>
    </div>
    <div class="btn-group">
        <a href="{{ path('admin_reclamation_log_index') }}" class="btn btn-success" title="Consulter historique des réclamations" > <i class="material-icons">event_note</i> </a>

    </div>


</div>

<!-- Search Filter Form -->
<div id="searchFilter" class="modal fade" tabindex="-1">
    <form action="{{ path('admin_reclamation_index') }}" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4><i class="material-icons">search</i>{{ 'search_filter_title'|trans }}</h4></div>
            <div class="modal-body">                    {{ form_widget(filterForm) }}                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{{ 'close'|trans }}</button>
                <button type="submit" class="btn btn-success">{{ 'search_filter'|trans }}</button>
            </div>
        </div>
    </form>
</div>

<!-- Table List -->
<form id="pageForm" action="#" method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>



                <th class="wid-25">{{ 'customer_name'|trans }}</th>
                <th class="wid-25">{{ 'Description'|trans }}</th>

                <th class="wid-25">{{ 'Reclamation_date'|trans }}</th>


                <th class="process"></th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>

                <td class="wid-15">{{ reclamation.c_firstName ~' '~ reclamation.c_lastName }}</td>
                <td class="wid-40">{{ reclamation.s_description }}</td>

                <td class="wid-15">{{ reclamation.s_reclamation_date ? reclamation.s_reclamation_date|date('Y-m-d') : '' }}</td>


                <td class="process">
                    <div class="floating-menu">
                        <a><i class="material-icons">more_horiz</i></a>
                        {{ pd_menu_render('App\\Menu\\Action\\Reclamation', {'reclamation': reclamation}) }}
                    </div>
                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</form>

    {{ knp_pagination_render(reclamations) }}
{% endblock %}



