{# Template Parts #}
{% extends "Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('admin_dashboard'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'admin_dashboard'|trans }}</span>
    <a href="#" class="addbtn btn-primary" data-toggle="modal" data-target="#widgetModal" data-tooltip title="{{ 'add_widget'|trans }}"><i class="material-icons">add</i></a>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <div id="actions">
        <div class="btn-group">
            <button class="btn btn-success" data-toggle="modal" data-target="#tauxForm" data-tooltip title="{{ 'Taux'|trans }}"><i class="material-icons">filter_9_plus</i>Taux</button>
        </div>
        <div class="btn-group">
            <a href="{{ path('admin_contact_send') }}" class="btn btn-success" title="envoyer anniversaire email" > <i class="material-icons">tablet_mac</i>anniversaire : {{ xxx }} </a>

        </div>
        {% if is_granted('ROLE_CONTACTSERVICE_CREATEPROMO') %}
            <div class="btn-group">

                <div class="btn-group">
                    <button class="btn btn-success" data-toggle="modal" data-target="#proForm" data-tooltip title="campaingn emailing"> <i class="material-icons">contact_mail</i></button>
                </div>
            </div>
        {% endif %}
        <div class="btn-group">

            <div class="btn-group">
                <button class="btn btn-success" data-toggle="modal" data-target="#calander" data-tooltip title="agenda"> <i class="material-icons">import_contacts</i></button>
            </div>
        </div>
    </div>
    <div id="calander" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_dashboard') }}" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4><i class="material-icons">contact_phone</i>Agenda</h4></div>
                <div class="modal-body" id="calendar-holder">                                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{{ 'close'|trans }}</button>

                </div>
            </div>
        </form>
    </div>
    <div id="tauxForm" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_dashboard') }}" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4><i class="material-icons">transfer_within_a_station</i>{{ 'Taux Update'|trans }}</h4></div>
                <div class="modal-body">                    {{ form_widget(tauxForm) }}                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{{ 'close'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'Chang Taux'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
    <div id="proForm" class="modal fade" tabindex="-1">
        <form action="{{ path('admin_dashboard') }}" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4><i class="material-icons">alternate_email</i> mail de mass </h4></div>
                <div class="modal-body">                    {{ form_widget(proForm) }}                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{{ 'close'|trans }}</button>
                    <button type="submit" class="btn btn-success">{{ 'start_campain'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
    <div id="widgetModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header"><h4><i class="material-icons">search</i>{{ 'admin_widget_modal_title'|trans }}</h4></div>
                <div class="modal-body pl-0 pr-0">

                    <table class="table table-hover table-striped mb-0">
                        {% for widget in pd_widget_get('admin') %}
                            {% if not widget.isActive %}
                                <tr>
                                    <td class="text-left" style="width: 40%">{{ widget.name|trans }}</td>
                                    <td>{{ widget.description|trans }}</td>
                                    <td style="width: 45px"><a href="{{ path('widget_status', { 'widgetId': widget.id, 'status': 1 }) }}" class="close" data-tooltip title="{{ 'add'|trans }}"><i class="material-icons">add</i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer"><button type="button" id="close" class="btn btn-outline-primary" data-dismiss="modal">{{ 'close'|trans }}</button></div>
            </div>
        </div>
    </div>

    {# Load Chart JS #}
    <script src="{{ asset('plugin/chart.js', 'admin') }}"></script>

    <div class="dashboard">
        {{ pd_widget_render('admin') }}
    </div>
    {% if card_request|length > 0 %}
        <table class="container1">

            <thead>
            <tr>
                <th><h1> </h1></th>
                <th><h3 style="color:Tomato;"> Carte de fidélité :</h3> </th>
                <th><h3 style="color:Tomato;">Demandes</h3></th>
                <th><h1></h1></th>
            </tr>
            <tr>
                <th><h1 style="color:#EF8113;">Date of request </h1></th>
                <th><h1 style="color:#EF8113;">nom de client</h1></th>
                <th><h1 style="color:#EF8113;">Valider</h1></th>
                <th><h1 style="color:#EF8113;">Refuser</h1></th>
            </tr>
            </thead>
            <tbody>
            {% for request in card_request %}
                <tr>
                    <td >{{ request.lcr_date_of_request ? request.lcr_date_of_request|date('Y-m-d') : '' }}</td>
                    <td ><a href="" class="dsh_link">{{ request.c_firstName }} {{ request.c_lastName }}</a></td>

                    <td ><a href="{{ path("admin_card_validate", {"id":request.lcr_id }) }}" class="btn_actions">Valider</a></td>
                    <td ><a href="{{ path("admin_card_refuse", {"id":request.lcr_id }) }}" class="btn_actions">Refuser</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "/fc-load-events",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            calendar.render();
        });
    </script>
{% endblock %}
